@import url('../style.css');

/* CLIENTES */

#header.page-clientes {
	background: url('../../images/background-clientes.jpg') no-repeat fixed;
	background-size: cover;
}

@media (max-width: 992px) 
{
	#customers .col {
		text-align: center;
	}
}